.button{
    background-color: maroon;
    border-color: darkgray;
}

.body{
    color:whitesmoke;
    background-color: black;
}

.title{
    color:maroon;
}

.custom-table {

  background-color: gray; /* table background */
  color: whites; /* text color */
}

.custom-table th {
  background-color: #3333;
  color: whitesmoke;
}

.custom-table tr {
  background-color: #3333;
  color: #220707;
}